useDynLib(rotations)
S3method(Q4,SO3)
S3method(Q4,default)
S3method(SO3,Q4)
S3method(SO3,default)
S3method(angle,Q4)
S3method(angle,SO3)
S3method(axis,Q4)
S3method(axis,SO3)
S3method(center,Q4)
S3method(center,SO3)
S3method(chang,Q4)
S3method(chang,SO3)
S3method(dist,Q4)
S3method(dist,SO3)
S3method(fisheretal,Q4)
S3method(fisheretal,SO3)
S3method(log,SO3)
S3method(mean,Q4)
S3method(mean,SO3)
S3method(median,Q4)
S3method(median,SO3)
S3method(plot,SO3)
S3method(prentice,Q4)
S3method(prentice,SO3)
S3method(print,Q4)
S3method(print,SO3)
S3method(region,Q4)
S3method(region,SO3)
S3method(sum_dist,Q4)
S3method(sum_dist,SO3)
S3method(weighted.mean,Q4)
S3method(weighted.mean,SO3)
S3method(zhang,Q4)
S3method(zhang,SO3)
export(Q4)
export(SO3)
export(angle)
export(as.Q4)
export(as.SO3)
export(axis)
export(cayley_kappa)
export(center)
export(chang)
export(dcayley)
export(dfisher)
export(dhaar)
export(dist)
export(duars)
export(dvmises)
export(exp_skew)
export(fisher_kappa)
export(fisheretal)
export(genR)
export(gradient.search)
export(id.Q4)
export(id.SO3)
export(is.Q4)
export(is.SO3)
export(median)
export(pcayley)
export(pfisher)
export(phaar)
export(pointsXYZ)
export(prentice)
export(project.SO3)
export(puars)
export(pvmises)
export(rcayley)
export(region)
export(rfisher)
export(rhaar)
export(ruars)
export(rvmises)
export(sum_dist)
export(vmises_kappa)
export(zhang)
exportClasses(Q4)
exportClasses(SO3)
import(grid)
import(methods)
import(ggplot2)
import(Rcpp)
import(RcppArmadillo)
importFrom(stats,weighted.mean)
